<div class="container">
  <p class="social">
    <a href=""><i class="fa fa-envelope"></i></a>
    <a href="http://linkedin.com/in/emilykimhuynh"><i class="fa fa-linkedin"></i></a>
    <a href="http://github.com/emilykimhuynh"><i class="fa fa-github-alt"></i></a>
    <a href="http://twitter.com/emilykimhuynh"><i class="fa fa-twitter"></i></a>
    <a href="http://instagram.com/emilykimhuynh"><i class="fa fa-instagram"></i></a>
    <a href="http://pinterest.com/emilykimhuynh"><i class="fa fa-pinterest-p"></i></a>
  </p>
</div>
</body>
</html>
