<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="Emily Huynh" />
  <meta name="description" content="Emily is a student at The University of Alabama studying Computer Science on the STEM Path to the MBA." />
  <meta name="p:domain_verify" content="3384dd75fdfdb282f647962ce77e2a2c"/>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <title>{{ .Title }}</title>
</head>
<body>
